:root {
  --color-base: #cca677;
  --color-resaltado: #d88827;
}

.reveal.center {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsla(0,0%,100%,0.92);
  background-blend-mode: overlay;
}

.reveal h1, .reveal h2, .reveal a {
  color: var(--color-base);
}

.reveal a:hover {
  color: var(--color-resaltado);
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
  border-right-color: var(--color-base);
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: var(--color-resaltado);
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
  border-left-color: var(--color-base);
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: var(--color-resaltado);
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
  border-top-color: var(--color-base);
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: var(--color-resaltado);
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
  border-bottom-color: var(--color-base);
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: var(--color-resaltado);
}

.reveal .progress span {
  background: var(--color-resaltado);
}

.reveal .progress {
  height: 7px;
}

body:after {
  content: url("images/logo.png");
  position: fixed;
  top: 3.5em;
  right: 3.5em;
  zoom: 20%;
}
